.flanker-text {
	text-align: center;
	font-size: 50px;
	position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.in-line-img {
	display:inline-block;
	vertical-align:bottom;
}

.responded {
	visibility: hidden;
}
